
// nextflow flags
nextflow.enable.moduleBinaries = true

// workflow marapeters
params {
    sample_table = "/lustre/scratch127/cellgen/cellgeni/aljes/atac-pipeline/data/sample_table_filt.csv"
    celltype_annotation = "/lustre/scratch127/cellgen/cellgeni/aljes/atac-pipeline/data/celltype_annotation.csv"
    chromsizes = "/lustre/scratch127/cellgen/cellgeni/aljes/atac-pipeline/data/hg38.chrom.sizes"
}

process {
    container = '/nfs/cellgeni/singularity/images/scenicplus-fa55dae.sif'
    withName: 'PYCISTOPIC:makePseudobulk' {
        cpus = 8
        memory = 100.GB
        queue = 'normal'
        maxRetries = 5
        time = 1.hour
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions  = '-B /lustre,/nfs'
}

executor {
    name = 'lsf'
    perJobMemLimit = true
}