process {
    withName: 'archr:ARCHR:preprocess_sample' {
            cpus       = 8
            memory     = { 30.GB + 10.GB * (task.attempt - 1) }
            container  = '/nfs/cellgeni/singularity/images/archr1.0.3_seurat4.2.1.sif'
    }
    withName: 'archr:ARCHR:get_gene_scores' {
            cpus       = 8
            memory     = { 6.GB * n_samples  + 10.GB * (task.attempt) }
            container  = '/nfs/cellgeni/singularity/images/archr1.0.3_seurat4.2.1.sif'
    }
    withName: 'archr:ARCHR:make_h5ad' {
            cpus       = 1
            memory     = { 6.GB * n_samples  + 10.GB * (task.attempt) }
            container  = '/nfs/cellgeni/singularity/images/snapatac2_v2.8.0.sif'
    }
}
