process {
    withName: '.*CISTOPIC_CREATEOBJECT' {
        ext.args      = {
            [   
                "--min_frag 1",
                "--min_cell 1",
                "--is_acc 1",
                "--split_pattern '___'",
                true ? "--check_for_duplicates" : "",
                true ? "--use_automatic_thresholds" : "--unique_fragments_threshold 0 --tss_enrichment_threshold 0 --frip_threshold 0"
            ].join(' ')
        }
        cpus       = 4
        queue      = { (task.attempt > 1) ? 'hugemem' : 'normal' }
        memory     = { 100.GB + 500.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "results/cistopic/${meta.id}" },
            overwrite: true
        ]
    }
}