process {
    withName: '.*CISTOPIC_CREATEOBJECT' {
        cpus       = 4
        queue      = { (task.attempt > 1) ? 'hugemem' : 'normal' }
        memory     = { 100.GB + 500.GB * (task.attempt - 1) }
        publishDir = [
            mode     : params.publish_mode,
            path     : "${params.output_dir}",
            overwrite: true
        ]
    }
}