process {
    withName: 'snapatac2:SNAPATAC2:preprocess_sample' {
            cpus       = 1
            memory     = { 30.GB + 10.GB * (task.attempt - 1) }
            container  = '/nfs/cellgeni/singularity/images/snapatac2_v2.8.0.sif'
    }
    
    withName: 'snapatac2:SNAPATAC2:combine_samples' {
            cpus       = 1
            memory     = 40.GB
            container  = '/nfs/cellgeni/singularity/images/snapatac2_v2.8.0.sif'
    }

    withName: 'snapatac2:SNAPATAC2:call_peaks' {
            cpus       = 10
            memory     = { 100.GB + 30.GB * (task.attempt - 1) }
            container  = '/nfs/cellgeni/singularity/images/snapatac2_v2.8.0.sif'
    }
}

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "${params.output_dir}/nextflow-reports/timeline.html"
   overwrite = true
}

report {
   enabled = true
   file = "${params.output_dir}/nextflow-reports/report.html"
   overwrite = true
}

trace {
   enabled = true
   file = "${params.output_dir}/nextflow-reports/trace.txt"
   overwrite = true
}
