process {
    withName: 'snapatac2:SNAPATAC2:preprocess_sample' {
            cpus       = 1
            memory     = { 30.GB + 10.GB * (task.attempt - 1) }
            container  = '/nfs/cellgeni/singularity/images/snapatac2_v2.8.0.sif'
    }
    
    withName: 'snapatac2:SNAPATAC2:combine_samples' {
            cpus       = 1
            memory     = { 50.GB + 30.GB * (task.attempt - 1) }
            container  = '/nfs/cellgeni/singularity/images/snapatac2_v2.8.0.sif'
    }

    withName: 'snapatac2:SNAPATAC2:call_peaks' {
            cpus       = 20
	    queue      = 'long'
            memory     = { 160.GB + 30.GB * (task.attempt - 1) }
            container  = '/nfs/cellgeni/singularity/images/snapatac2_v2.8.0.sif'
    }
}