process {
    if ( params.callPeaks ) {
        withName: '.*CISTOPIC_PSEUDOBULK' {
            debug      = true
            cpus       = 4
            queue      = { ( CalculatePseudobulkMemory(celltype_meta.fragments, task.attempt) > 196 ) ? 'hugemem' : 'normal' }
            memory     = { "${ CalculatePseudobulkMemory(celltype_meta.fragments, task.attempt) as int }.GB" }
            publishDir = [
                mode     : params.publish_mode,
                path     : { "${params.output_dir}/" },
                saveAs   : { filename -> if ( filename.endsWith(".log") ) { "log/$filename" } else { "pseudobulk/${filename}" } },
                overwrite: true
            ]
            errorStrategy = { MakePseudobulkErrorHandler(task.exitStatus, celltypes) }
        }
    }
}