process {
    withName: '.*ANNDATA_ATTACHCELLTYPES_GEX' {
        ext.barcode_column = 'barcode'
        ext.output = { "${meta.id}_gex.h5ad" }
        cpus       = 1
        queue      = 'normal'
        memory     = { 10.GB + 30.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.output_dir}/anndata/${meta.id}" },
            pattern  : '*.{h5ad,log}',
            overwrite: true
        ]
    }

    withName: '.*ANNDATA_ATTACHCELLTYPES_ATAC' {
        ext.barcode_column = 'barcode'
        ext.output = { "${meta.id}_atac.h5ad" }
        cpus       = 1
        queue      = 'normal'
        memory     = { 10.GB + 30.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.output_dir}/anndata/${meta.id}" },
            pattern  : '*.{h5ad,log}',
            overwrite: true
        ]
    }
}