process {
    withName: '.*ANNDATA_COUPLEMULTIOME' {
        ext.args   = ''
        cpus       = 1
        queue      = 'normal'
        memory     = { 10.GB + 30.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.output_dir}/anndata/${meta.id}" },
            pattern  : '*.{h5ad,h5mu,log}',
            overwrite: true
        ]
    }
}