process {
    withName: '.*CISTOPIC_PSEUDOBULK' {
        debug      = true
        ext.args   = params.cistopic.normalize_bigwig ? '--normalize_bigwig' : ''
        cpus       = 4
        queue      = { ( CalculatePseudobulkMemory(celltype_meta.fragments, task.attempt) > 196 ) ? 'hugemem' : 'normal' }
        memory     = { "${ CalculatePseudobulkMemory(celltype_meta.fragments, task.attempt) as int }.GB" }
        publishDir = [
            mode     : 'link',
            path     : params.output_dir,
            saveAs   : { filename -> if ( filename.endsWith(".log") ) { "log/$filename" } else { "pseudobulk/${filename}" } },
            overwrite: true
        ]
        errorStrategy = { MakePseudobulkErrorHandler(task.exitStatus, celltypes) }
        //errorStrategy = 'retry'
    }
}