process {
    withName: '.*CISTOPIC_CALLPEAKS' {
        ext.outputdir = "narrowPeaks"
        ext.args      = {
            [
                params.cistopic.specie ? "--specie ${params.cistopic.specie}" : "",
                params.cistopic.input_format ? "--input_format ${params.cistopic.input_format}" : "",
                params.cistopic.shift ? "--shift ${params.cistopic.shift}" : "",
                params.cistopic.extend_read_size ? "--extend_read_size ${params.cistopic.extend_read_size}" : "",
                params.cistopic.keep_duplicates ? "--keep_duplicates ${params.cistopic.keep_duplicates}" : "",
                params.cistopic.q_value_cutoff ? "--q_value_cutoff ${params.cistopic.q_value_cutoff}" : ""
            ].join(' ')
        }
        cpus       = 4
        memory     = { 16.GB + 16.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "results/pseudobulk" },
            overwrite: true
        ]
    }
}