process {
    withName: '.*CISTOPIC_COUNTFRAGMENTS' {
        cpus       = 1
        memory     = { 4.GB + 4.GB * (task.attempt - 1) }
        queue      = 'normal'
        publishDir = [
            mode     : 'link',
            path     : 'results',
            saveAs   : { filename -> if ( filename == 'updated_sample_table.csv' ) { "${filename}" } else { "log/${filename}" } },
            pattern  : "{*.csv,splitcelltypes.log}",
            overwrite: true
        ]
    }
}