process {
    withName: '.*CISTOPIC_CREATEOBJECT' {
        ext.args      = {
            [   
                params.cistopic.min_frag ? "--min_frag ${params.cistopic.min_frag}" : "",
                params.cistopic.min_cell ? "--min_cell ${params.cistopic.min_cell}" : "",
                params.cistopic.is_acc ? "--is_acc ${params.cistopic.is_acc}" : "",
                params.cistopic.split_pattern ? "--split_pattern '${params.cistopic.split_pattern}'" : "",
                params.cistopic.check_for_duplicates ? "--check_for_duplicates" : "",
                params.cistopic.use_automatic_thresholds ? "--use_automatic_thresholds" : "--unique_fragments_threshold 0 --tss_enrichment_threshold 0 --frip_threshold 0"
            ].join(' ')
        }
        cpus       = 4
        queue      = { (task.attempt > 1) ? 'hugemem' : 'normal' }
        memory     = { 100.GB + 500.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.output_dir}" },
            saveAs   : { filename -> filename.endsWith('.h5ad') ? "anndata/${meta.id}/${filename.replace('.h5ad', '_atac.h5ad')}" : "cistopic/${meta.id}/${filename}" },
            pattern  : '*.{h5ad,pkl}',
            overwrite: true
        ]
    }
}