process {
    withName: '.*CISTOPIC_QUALITYCONTROL' {
        ext.args      = {
            [
                params.cistopic.tss_flank_window ? "--tss_flank_window ${params.cistopic.tss_flank_window}" : "",
                params.cistopic.tss_smoothing_rolling_window ? "--tss_smoothing_rolling_window ${params.cistopic.tss_smoothing_rolling_window}" : "",
                params.cistopic.tss_window ? "--tss_window ${params.cistopic.tss_window}" : "",
                params.cistopic.tss_min_norm ? "--tss_min_norm ${params.cistopic.tss_min_norm}" : "",
                params.cistopic.min_fragments_per_cb ? "--min_fragments_per_cb ${params.cistopic.min_fragments_per_cb}" : "",
                params.cistopic.use_pyranges ? "--use-pyranges" : "",
                params.cistopic.dont_collapse_duplicates ? "--dont-collapse_duplicates" : ""
            ].join(' ')
        }
        cpus       = 4
        queue      = { (task.attempt > 1) ? 'hugemem' : 'normal' }
        memory     = { 100.GB + 500.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.output_dir}/cistopic/${meta.id}" },
            pattern  : "*qc",
            overwrite: true
        ]
    }
}