process {
    withName: 'PYCISTOPIC:MakePseudobulk' {
        debug = true
        cpus = 6
        memory = { 105.GB + 100.GB * (task.attempt - 1) }
        publishDir = [ enabled: false ]
    }
    withName: 'PYCISTOPIC:PeakCalling' {
        cpus = 4
        memory = { 16.GB + 16.GB * (task.attempt - 1) }
    }
    withName: 'PYCISTOPIC:InferConsensus' {
        debug = true
        cpus = 4
        memory = { 4.GB + 4.GB * (task.attempt - 1) }
    }
    withName: 'PYCISTOPIC:QualityControl' {
        cpus = 5
        memory = { 80.GB + 120.GB * (task.attempt - 1) }
        publishDir = [
            mode: params.publish_mode,
            path: { "${params.output_dir}/${sample_id}" },
            pattern: "*qc",
            overwrite: true
        ]
    }
    withName: 'PYCISTOPIC:CreateCisTopicObject' {
        cpus = 4
        memory = { 64.GB + 120.GB * (task.attempt - 1) }
    }
}